@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Tel.Pages.Home_Page_Components

@inject IJSRuntime JSRuntime
<PageTitle>Telephone Directory</PageTitle>
<center>
    <h1>Telephone Directory</h1>
</center>
<DataTableComponent />